@import 'tailwindcss';
@import '@repo/ui/index.css';

.sbdocs-content {
  line-height: normal;

  :is(
    h2:not(.sb-anchor, .sb-unstyled, .sb-unstyled h2),
    h3:not(.sb-anchor, .sb-unstyled, .sb-unstyled h3),
    h4:not(.sb-anchor, .sb-unstyled, .sb-unstyled h4),
    h5:not(.sb-anchor, .sb-unstyled, .sb-unstyled h5),
    h6:not(.sb-anchor, .sb-unstyled, .sb-unstyled h6)
  ) {
    font-weight: bold;
  }

  pre:not(.sb-anchor, .sb-unstyled, .sb-unstyled pre) {
    font-family:
      ui-monospace, Menlo, Monaco, 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
      'Source Code Pro', 'Droid Sans Mono', 'Courier New', monospace;
  }

  code,
  kbd,
  samp {
    font-family: revert;
  }
}
